<html>
    <head>
        <title>create database</title>
    </head>
    <body>
        <form accept="/database" method="POST">
            <input type="text" name="databasename" placeholder="database name" />
            <button>create database</button>
        </form>
    </body>
</html>